$white: #ffffff;
$black: #000000;
$background: #f8f9fd;
$light-blue: #4d728c;

$main-text: #4c5164;
$default-text: #81879c;
$shadow: #00000029;

$box-shadow: 0 1px 3px $shadow;

$br4: 4px;

$font-normal: 300;
$font-medium: 500;
$font-bold: 700;
