@import "variables";

.user-card {
  width: 100%;
  padding: 0 10px;
  height: 80px;
  border-radius: $br4;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 64px 1fr auto;
  justify-content: start;
  align-content: center;
  grid-gap: 15px;
  background-color: $white;
  box-shadow: $box-shadow;
  transition: all 0.3s ease-out;

  & > img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: $br4;
  }

  & > div {
    align-self: center;
    overflow: hidden;
  }

  &__name {
    color: $main-text;
    font-weight: $font-bold;
    font-size: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__address {
    color: $default-text;
    font-size: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__actions {
    & fa-icon {
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &--delete {
      color: $accent;
    }

    &--edit {
      color: $light-blue;
    }
  }

  &:hover {
    background-color: $primary;
  }

  &:hover & {
    &__name,
    &__address {
      color: $white;
    }

    &__actions {
      &--edit {
        color: $white;
      }
    }
  }
}
