@import "variables";

.user-details {
  padding: 3rem;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: $br4;

  .form {
    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 15px 0;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 6rem;

      round-button:not(:last-child) {
        margin-right: 10px;
      }
    }

    label.label {
      font-size: 1.4rem;
      color: $main-text;
      font-weight: $font-medium;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    button {
      margin-right: 2rem;
      background: none;
      border: none;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      transition: all 0.3s;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: $shadow;
      }
    }
  }

  &__avatar {
    text-align: center;

    img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
    }

    h2 {
      color: $main-text;
      font-size: 20px;
    }

    fa-icon {
      color: $default-text;
    }
  }

  hr {
    border-style: solid;
    border: 1px solid rgba($default-text, 0.1);
    margin: 15px 0;
  }
}
