@import "variables";

.form-input {
  font-size: 1.6rem;
  color: $default-text;

  input {
    display: block;
    width: 100%;
    border-radius: $br4;
    border: 1px solid $default-text;
    padding: 5px;
  }
}
