@import "variables";

:host {
  > button {
    padding: 15px 40px;
    border-radius: 26px;
    display: flex;
    box-shadow: $box-shadow;
    // cursor: pointer;
    transition: all 0.2s ease-out;

    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: $font-bold;

    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  &.wdg-button {
    &__light-blue {
      button {
        background-color: $light-blue;
        color: $white;
      }
    }

    &__default {
      button {
        background-color: $white;
        color: $default-text;
      }
    }
  }
}
