@import "sass/variables";
@import "sass/typography";
@import "sass/components/input";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $background;
  box-sizing: border-box;
  height: 100%;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.swal2-popup {
  font-size: 1.6rem !important;
}
